<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valhalla </title>
    <link href="cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>HEEEEEEEEEEELP</h1>
        </div>
        {%load static %}
        <div class="row">
            <img src="{& static 'valhalla/img/juego1.jpg' %}">
        </div>
    </div>
    
</body>
</html>